.choose,
.num {
	padding: 40px 20px;
}
.all {
	width: 160px;
	border-radius: 40px;
	padding: 5px 5px;
	background-color: #faf8fe;
	color: #e7bef3;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	margin: auto;
	margin-bottom: 20px;
}
.why {
	font-weight: 800;
}
.card-one,
.card-two,
.card-three {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 40px 20px;
	row-gap: 20px;
	color: #ffffff;
	border-radius: 10px;
}
.card-one {
	background: url("/public/assets/sun-shadow-right.png") no-repeat center center /
			cover,
		#ff672d;
}

.card-two {
	background: url("/public/assets/sun-shadow-right-3.png") no-repeat center
			center / cover,
		#29c98b;
}
.card-three {
	background: url("/public/assets/sun-shadow-right-2.png") no-repeat center
			center / cover,
		#43a3ff;
}
.card-one h1,
.card-two h1,
.card-three h1 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 30px;
}
.card-one h2,
.card-two h2,
.card-three h2 {
	font-size: 30px;
	line-height: 40px;
}
.list-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	gap: 20px;
	padding-inline: 20px;
}
.list-tag {
	padding: 5px 20px;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid white;
	font-size: 12px;
	font-weight: 500;
	line-height: 15px;
}
