@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.elements {
	padding: 40px 20px 0 20px; /* Top: 40px, Right: 20px, Bottom: 0, Left: 20px */
}
.elements-desc {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	justify-content: center;
	align-items: center;
}
.ele-1 h1 {
	padding: 10px 20px;
	width: auto;
	font-size: 12px;
	font-weight: 500;
	border-radius: 20px;
	color: #013adf;
	background-color: #d7dee8;
}
.ele-2 h1 {
	font-size: 50px;
	font-weight: bolder;
	line-height: 60px;
	color: #202020;
}
.ele-3 {
	width: 100%;
	display: flex;
	padding: 20px 20px;
	justify-content: space-between;
	gap: 10px;
}
.icons {
	padding: 20px 0;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(181, 181, 181, 0.1)
	);
	border-radius: 20px;
}
.icons-txt {
	padding: 15px 20px;
	border-radius: 50px;
	background-color: #ffffff;
	color: #b5b5b5cc;
	font-weight: 600;
	margin-left: 20px;
	margin-bottom: 20px;
}

.material-icons {
	margin-right: 5px;
}
.ele-4 p {
	font-size: 15px;
	font-weight: 800;
	color: #b5b5b5cc;
}
.last-right {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: start;
	background-color: rgba(251, 248, 254, 0.2); /* 80% opacity */
}
.right-1 {
	width: 130px;
	padding: 10px 10px;
	border-radius: 20px;
	color: #013adf;
	background-color: #d7dee8;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.right-2 {
	color: black;
	font-size: 50px;
	line-height: 60px;
	font-weight: bolder;
	text-align: left;
	margin-bottom: 20px;
}

.right-3 {
	width: 500px;
	color: #b5b5b5cc;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-align: left;
}
.right-4 {
	display: flex;
}
.right-sub-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: #013adf;
	color: #ffffff;
}
.right-sub-1 h2 {
	font-size: 12px;
}
