/*  */
.hero {
	padding: 60px 20px; /* Responsively allocate space */
}
.left-side,
.right-side {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	align-items: flex-start;
}
.first-box {
	display: flex;
	gap: 50px;
	width: 100%;
}

.star::after {
	content: "\2605"; /* Unicode for solid star (★) */
	font-size: 24px; /* Adjust size */
	color: orange; /* Set star color */
	margin-left: 2px;
}
h2 {
	font-size: clamp(16px, 2vw, 24px); /* Min 16px, prefers 2vw, max 24px */
	color: black;
	margin-bottom: 20px;
}
.second-box {
	display: flex;
	flex-wrap: wrap;
}
h1 {
	font-size: clamp(40px, 5vw, 70px); /* Min 40px, prefers 5vw, max 70px */
	line-height: clamp(50px, 6vw, 90px);
	color: black;
	font-weight: 800;
}
.third-box p {
	font-size: 20px;
	font-weight: 400;
}
.bold-underline {
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 8px;
}
.icon-box {
	border: 2px solid red;
	width: 100%;
	height: 100px;
}

/* RESPONSIVENESS */

/* Below 768px */
@media (max-width: 767px) {
	.hero {
		padding: 20px 0;
	}
}
/* For screen widths between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
	.hero {
		padding: 20px 0;
	}
}
/* For screen widths between 1024px and 1440px */
@media (min-width: 1024px) and (max-width: 1350px) {
}
